body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: white;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9e6d51;
    padding: 1rem 2rem;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)
}

.nav-left a,
.nav-right a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.nav-center {
    flex-grow: 1;
    text-align: center;
}

h1 {
    text-align: center;
    color: #333;
}

.search-form {
  display: inline-flex;
  max-width: 500px;
  width: 100%;
}

.search-bar {
    width: 60%;
    padding: 0.5em;
    border-radius: 20px;
    border: none;
    font-size: 1em;
}

.search-bar input[type ="text"] {
    width: 60%;
    padding: 0.75rem 1rem;
    border: 1px solid #ccc;
    border-radius: 999px;
    outline: none;
    font-size: 1rem;
    transition: border 3s;
}

.search-bar input[type="text"]:focus {
    border-color: #9e6d51;
}

.search-bar button {
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    background-color: #9e6d51;
    color: white;
    border: none;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    font-size: 1rem;
}

.search-bar button:hover {
    background-color: #614231;
}

.book-list {
    display: grid;
    margin: 1.5rem;
}

.book-card {
    background: rgb(219, 219, 219);
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.book-card h2 {
    margin: 0 0 0.5rem 0;
    color: #222;
}

.book-card p {
    margin: 0.25rem 0;
    color: #555;
}