{% extends 'base.html' %}
{% block content %}
    <div class="book_page">
        <h1>{{book.title}}</h1>
        <img src="{{book.thumbnail}}" alt="Book Cover">
        {% if book.authors|length > 1 %}
            <p><strong>Authors:</strong>{{ book.authors|join(', ')}}</p>
        {% else %}
            <p><strong>Author:</strong>{{book.authors[0]}}</p>
        {% endif %}
        <p><strong>Categories:</strong>{{book.categories|join(', ')}}</p>
        <p><strong>Rating:</strong>{{book.rating}}</p>
        <p><strong>Pages:</strong>{{book.page_count}}</p>
        <p>{{ book.description}}</p>

        <button onclick="toggleShelfMenu()" class="add-btn">Add to Library</button>

        <div id="shelfMenu" class="shelf-menu">
            <form id="addToShelfForm">
                {% for shelf in shelves %}
                    <button type="button" class="shelf-btn" onclick="addToShelf('{{ shelf }}')">{{ shelf }}</button><br>
                {% endfor %}
            </form>
        </div>
        <div id="messageModal" class="modal" style="display:none;">
            <div class="modal-content">
                <span id="modalMessage"></span>
                <button onclick="closeModal()">OK</button>
            </div>
        </div>
    </div>

    <script>
    function toggleShelfMenu(){
        const menu = document.getElementById("shelfMenu");
        menu.style.display = (menu.style.display === 'none')? "block" : "none";
    }
    function addToShelf(shelfName){
        const bookId = "{{ book_id }}";
        fetch("/add-to-shelf", {
            method: "POST", 
            headers: {"Content-Type" : "application/json"}, 
            body: JSON.stringify({shelf: shelfName, book_id: bookId})
        })
        .then(res => res.json())
        // Message Box Detail
        .then(data => {
             const modal = document.getElementById("messageModal");
            const messageSpan = document.getElementById("modalMessage");
            messageSpan.innerText = `Successfully added to "${shelfName}"`;
            modal.style.display = "flex";
        });
    }
    function closeModal(){
    document.getElementById("messageModal").style.display = "none";
    }
    </script>
{% endblock %}